/* Import individual CSS components */
@import './jquery.nestable.css';
@import './button.css';

/* Additional custom styles for tree component */
.dd {
    max-width: none;
}

.dd-handle {
    height: 55px;
}

.dd-item > button {
    height: 45px;
}
