@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/solution-forest/filament-tree/resources/css/jquery.nestable.css';
@import '../../../../vendor/solution-forest/filament-tree/resources/css/button.css';
@import '../../../../vendor/solution-forest/filament-tree/resources/css/custom-nestable-item.css';


@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source '../../../../vendor/solution-forest/filament-tree/resources/**/*.blade.php';

/* Test CSS pour debug */


/* Couleurs personnalisées pour Filament */
:root {
    --color-primary-base: #F87F04;
    --color-primary-light: #FF9F36;
    --color-primary-dark: #C46303;
}
