@import '/vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/pboivin/filament-peek/resources/css/plugin.css';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source '../../../../vendor/pboivin/filament-peek/resources';

/* Configuration des couleurs personnalisées */
:root {
    --color-primary-base: #F87F04;
    --color-primary-light: #FF9F36;
    --color-primary-dark: #C46303;
}

.reset-tailwind, .reset-tailwind * {
    all: revert;
}
